.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Align items to the left */
}
 
/* Individual product item styling */
.product-item {
    width: 250px; /* Fixed width for each product item */
    height: 350px;
    margin: 5px; /* Space between items */
    text-align: center; /* Center text and image */
    border: 1px solid #e0e0e0; /* Light border around each item */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    transition: transform 0.2s; /* Smooth transition for hover effect */
    padding-bottom: 10px; /* Add some padding at the bottom for buttons */
}
.button-footer{
    display: flex;
    justify-content: space-between;
    padding: 2px;
}